<footer>
    <br><hr><br>
    <div class="container-footer-1">
        <h4>Mi cuenta</h4>
        <a href=""><p>Mis viajes</p></a>
        <a href=""><p>Mi perfil</p></a>
        <a href=""><p>Configuracion</p></a>
    </div>
    <br>
    <div class="container-footer-1">
        <h4>¿Te arrepentiste de tu compra?</h4>
        <p>De acuerdo al derecho de arrepentimiento podés cancelar tu compra dentro de los 10 días corridos
            de
            haberla realizado.</p>
        <p>*Según Resolución 329/2020 ANAC el derecho de arrepentimiento no aplica para vuelos y estos se
            rigen
            por la política de devolución informada en tu voucher</p>
        <form action="/" method="">
            <button type="submit" class="btn-arrepentimiento">Botón de arrepentimiento</button>
        </form>
    </div>
    <br>
    <div class="container-footer-1">
        <h4>Contacto</h4>
        <div>0800-111-2525</div>
        <div>(Todos los días las 24hs)</div>
        <p>consultas@travelpoint.com</p>
        <p>Domicilio: Calle falsa 123, CABA, Arg.</p>
    </div>
    <br>
    <div class="container-footer-1">
        <h4>Más información</h4>
        <p>Preguntas frecuentes</p>
        <p>¿Querés trabajar con nostros?</p>
        <p>Sobre nosotros</p>
    </div>
    <br>
    <div class="container-footer-1">
        <h4>Destinos más elegidos</h4>
        <p>Barcelona</p>
        <p>Miami</p>
        <p>Cancun</p>
        <p>Mendoza</p>
        <p>Mar del Plata</p>
    </div>
    <br>
    <div class="container-footer-1">
        <h4>Comprá con seguridad</h4>
        <p>Términos y condiciones de compra de todos los servicios turisticos disponibles/Contratos de adhesión
            - Ley N° 24.240 de Defensa del Consumidor</p>
        <p><a href="/">Leer términos y condiciones</a></p>
    </div>
    <br>
    <div class="container-footer-1">
        <h4>Defensa del consumidor</h4>
        <p><a href="/">Para reclamos ingrese aquí</a></p>
    </div>
    <br>
    <div class="container-footer-1">
        <h5>Todos los derechos reservados.</h5>
        <div>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi quisquam error iusto enim nemo
            aut eius hic quod corrupti. Vel corrupti, rerum nostrum necessitatibus accusantium consequatur nisi
            natus impedit! Eveniet.</div>
    </div>
</footer>