<header class="container-header">
        <div class="header-box1">
            <a href="/"><img src="/img/Logotransp.png" alt="Logo" class="logo"></a>
        </div>
        <div class="header-box2">
            <div>
                <i class="fas fa-plane"></i>
                <p> Vuelos </p>
            </div>
            <div>
                <i class="fas fa-concierge-bell"></i>
                <p> Hoteles </p>
            </div>
            <div>
                <i class="fas fa-suitcase"></i>
                <p> Paquetes </p>
            </div>
            <div>
                <i class="fas fa-briefcase-medical"></i>
                <p> Asistencias </p>
            </div>
            <div>
                <i class="fas fa-car-side"></i>
                <p> Autos </p>
            </div>
            <div>
                <i class="fas fa-skiing-nordic"></i>
                <p> Actividades </p>
            </div>
        </div>
        <div class="header-box3">
            <div><a href=""><i class="fas fa-phone-alt"></i></div></a>
            <div><a href="/productCart"><i class="fas fa-suitcase-rolling"></i></a></div>
            <div><a href="/login"><i class="fas fa-user"></i></a></div>
            <div><a href=""><i class="fas fa-question-circle"></i></div></a>
        </div>
</header>