<header>
    <div class="logo-ayuda">
        <a href="/"><img src="/img/Logo.png" alt="Logo" class="logo"></a>
        <div class="ayuda">
            <i class="fas fa-phone-alt"></i>
            <a href="/productCart"><i class="fas fa-suitcase-rolling"></i></a>
            <a href="/login"><i class="fas fa-user"></i></a>
            <i class="fas fa-question-circle"></i>
        </div>
    </div>
    <div class="opciones1">
        <div>
            <i class="fas fa-plane"></i>
            <p> Vuelos </p>
        </div>
        <div>
            <i class="fas fa-concierge-bell"></i>
            <p> Hoteles </p>
        </div>
        <div>
            <i class="fas fa-suitcase"></i>
            <p> Paquetes </p>
        </div>
        <div>
            <i class="fas fa-briefcase-medical"></i>
            <p> Asistencias </p>
        </div>
        <div>
            <i class="fas fa-car-side"></i>
            <p> Autos </p>
        </div>
        <div>
            <i class="fas fa-skiing-nordic"></i>
            <p> Actividades </p>
        </div>
    </div>
</header>