<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
        <title>Detalle de tu vuelo</title>
</head>

<body>
    <%- include('./partials/header') %>
        <main>
            <div class="container-1">
                <div class="sub-1">
                    <div class="icon-cart"><i class="fas fa-shopping-cart"></i></div>
                    <div class="info">
                        <div>Detalle de tu compra</div>
                        <div class="info-fecha">Jue 22/10 al Mie 07/11 - 2 persona(s)</div>
                    </div>
                    <div class="flecha"><i class="fas fa-angle-down"></i></div>
                </div>
                <br>
                <div class="sub-2">
                    <div class="total">TOTAL</div>
                    <div class="valor">$71.540</div>
                </div>
            </div>
            <br>
            <div class="container-2">
                ¡Apurate, sólo quedan 2 lugares!
            </div>
            <br>
            <div class="container-3">
                <div>¿Como querés pagar?</div>
                <ul>
                    <li>
                        <input type="radio" name="pago" id="credito" value="credito" checked><label
                            for="credito">Tarjeta de
                            crédito</label>
                        <input type="radio" name="pago" id="debito" value="debito"><label for="debito">Tarjeta de
                            débito</label>
                        <input type="radio" name="pago" id="2tarjetas" value="2 tarjetas"><label for="2tarjetas">Pagar
                            con 2
                            tarjetas</label>
                    </li>
                </ul>
            </div>
            <br>
            <form action="/" method="">
                <h2>Ingresá los datos de la tarjeta</h2>
                <p>
                    <label for="nro-tarjeta">NÚMERO DE TARJETA</label>
                    <input type="number" name="nro-tarjeta" id="nro-tarjeta"
                        placeholder="Ingresá el número de tu tarjeta" required>
                </p>
                <p>
                    <label for="titular-tarjeta">TITULAR DE LA TARJETA</label>
                    <input type="text" name="titular-tarjeta" id="titular-tarjeta"
                        placeholder="Como figura en la tarjeta" required>
                </p>
                <p>
                    <label for="vencimiento-tarjeta">VENCIMIENTO DE LA TARJETA</label>
                    <input type="text" name="vencimiento-tarjeta" id="vencimiento-tarjeta" placeholder="MM/AA"
                        maxlength="5" required>
                </p>
                <p>
                    <label for="codigo-tarjeta">COD. DE SEGURIDAD</label>
                    <input type="number" name="codigo-tarjeta" id="codigo-tarjeta" maxlength="4" required>
                </p>
                <p>
                    <label for="documento-tarjeta">DOCUMENTO DEL TITULAR DE LA TARJETA</label>
                    <input type="number" name="documento-tarjeta" id="documento-tarjeta" placeholder="Ej: 12549325"
                        maxlength="8" required>
                </p>
                <p>
                <p>SEXO</p>
                <label for="M">M</label><input type="radio" name="sexo" id="M" value="M" checked>
                <label for="F">F</label><input type="radio" name="sexo" id="F" value="F">
                </p>
                <hr>
                <p>
                    <select id="cuotas" name="cuotas" required>
                        <option value="cuotas" selected>Cuotas</option>
                        <option value="1">1 cuota</option>
                        <option value="2">2 cuotas</option>
                        <option value="3">3 cuotas</option>
                        <option value="4">4 cuotas</option>
                        <option value="5">5 cuotas</option>
                        <option value="6">6 cuotas</option>
                    </select>
                </p>
            </form>
        </main>
</body>

</html>