<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-16">
    <link rel="stylesheet" type="text/css" href="./fuentes/css/styles.css">
    <link rel="stylesheet" type="text/css" href="./fuentes/css/normalize.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/31b9fa39aa.js" crossorigin="anonymous"></script>
     <title>Index</title>
</head>
<body>
 <h1>Index - Ejemplos para ver si funciona - a comentar</h1>
    
    <img src="/fuentes/img/img-samsung-galaxy-s10.jpg" width="10%" title="Ejemplo IMG" alt="Ejemplo de una imagen">
   
    <ul>
        <li><a href="../fuentes/views/productCart.html">Ejemplo link a carrito</a></li>
        <li><a href="/fuentes/productDetail.html">Ejemplo link a detalle de producto</a></li>
        <li><a href="/fuentes/register.html">Ejemplo link a registro</a></li>
        <li><a href="/fuentes/login.html">Ejemplo link a login</a></li>
        <li><a href="/fuentes/index.html">Ejemplo link a home</a></li>
    </ul>
       
    
    
    

</body>