<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
        <title>Mi perfil</title>
</head>

<body>
    <%- include('./partials/header') %>
        <main>
            <h1>Mi perfil</h1>
            <div>
                <div>
                    <img src="" alt="foto-perfil">
                </div>
                <h3>Datos personales:</h3>
                <p>Nombre: Federico Barrionuevo</p>
                <p>Email: fede.barrionuevo@hotmail.com</p>
                <p>Nacionalidad: Argentina</p>
            </div>
        </main>
        <%- include('./partials/footer') %>
</body>

</html>