<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
        <title>Mi perfil</title>
</head>

<body>
    <%- include('./partials/header') %>
        <main>
            <div class="my-account">
                <h1>Mi perfil</h1>
                    <div>
                        <form>
                            <input type="file" name="foto-perfil" class="foto-perfil">
                        </form>
                        <h3>Datos personales:</h3>
                        <p>Nombre:</p>
                        <p>Email:</p>
                        <p>Nacionalidad:</p>
                        <a href=""><button type="submit">Editar</button></a>
                    </div>
            </div>
        </main>
        <%- include('./partials/footer') %>
</body>

</html>