<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/65ae70675e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
     <title>Detalle de Producto</title>
</head>
<body>
    <header>
        <header>
            <div class="logo-ayuda">
                <img src="/img/Logo.png" alt="Logo" class="logo">
                <div class="ayuda">
                    <i class="fas fa-phone-alt"></i>
                    <i class="fas fa-suitcase-rolling"></i>
                    <i class="fas fa-user"></i>
                    <i class="fas fa-question-circle"></i>
                </div>
            </div>
            <div class="opciones1">
                <div>
                    <i class="fas fa-plane"></i>
                    <p> Vuelos </p>
                </div>
                <div>
                    <i class="fas fa-concierge-bell"></i>
                    <p> Hoteles </p>
                </div>
                <div>
                    <i class="fas fa-suitcase"></i>
                    <p> Paquetes </p>
                </div>
                <div>
                    <i class="fas fa-briefcase-medical"></i>
                    <p> Asistencias </p>
                </div>
                <div>
                    <i class="fas fa-car-side"></i>
                    <p> Autos </p>
                </div>
                <div>
                    <i class="fas fa-skiing-nordic"></i>
                    <p> Actividades </p>
                </div>
            </div>

    </header>
    <main>
        <section class="Producto">
            <div class= "Prod1">
                <h2>IDA - Buenos Aires >> Cancun</h2>
                <h3>Duración 27h 17min</h3>
                    <div>Salida 19:06</div>
                    <div>EZE</div> 
                    <div>Llegada 21:24</div>
                    <div>SCL</div>
                <h2>VUELTA</h2>
                <h3>Duración 22h 00min</h3>
                    <div>Salida 08:06</div>
                    <div>SCL</div> 
                    <div>Llegada 7:24</div>
                    <div>EZE</div>
            </div>
    


        </section>


    </main>
 
    
    <img src="/fuentes/img/img-samsung-galaxy-s10.jpg" width="10%" title="Ejemplo IMG" alt="Ejemplo de una imagen">
   
   