<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %> 
    <title>Detalle del Producto</title>
</head>

<body>
    <%- include('./partials/header') %>
    <main>
        <section class="vuelos">
            <div class="div-vuelo">
                <!-- <img class="aero" src="img/latam-logo.jpg" alt=""> -->
                <h3>IDA</h3>
                <div class="detalle-de-vuelo">
                    <div>
                        <div>19:06</div>
                        <div>EZE</div>
                    </div>
                    <div class="escalas">
                        <div>Directo</div>
                        <hr>
                        <div>12h 45min</div>
                    </div>
                    <div>
                        <div>21:24</div>
                        <div>BCN</div>
                    </div>
                </div>
                <h3>VUELTA</h3>
                <div class="detalle-de-vuelo">
                    <div>
                        <div>08:06</div>
                        <div>BCN</div>
                    </div>
                    <div class="escalas">
                        <div>1 Escala</div>
                        <hr>
                        <div>15h 20min</div>
                    </div>
                    <div>
                        <div>7:24</div>
                        <div>EZE</div>
                    </div>
                </div>
                <div class="price-button">
                    <div class="price">
                        $35.000
                    </div>
                    <div>
                        <button type="submit">Seleccionar</button>
                    </div>
                </div>
            </div>
            <div class="div-vuelo">
                <!-- <img class="aero" src="img/latam-logo.jpg" alt=""> -->
                <h3>IDA</h3>
                <div class="detalle-de-vuelo">
                    <div>
                        <div>19:06</div>
                        <div>EZE</div>
                    </div>
                    <div class="escalas">
                        <div>1 Escala</div>
                        <hr>
                        <div>14h 40min</div>
                    </div>
                    <div>
                        <div>21:24</div>
                        <div>BCN</div>
                    </div>
                </div>
                <h3>VUELTA</h3>
                <div class="detalle-de-vuelo">
                    <div>
                        <div>08:06</div>
                        <div>BCN</div>
                    </div>
                    <div class="escalas">
                        <div>Directo</div>
                        <hr>
                        <div>12h 0min</div>
                    </div>
                    <div>
                        <div>7:24</div>
                        <div>EZE</div>
                    </div>
                </div>
                <div class="price-button">
                    <div class="price">
                        $22.000
                    </div>
                    <div>
                        <button type="submit">Seleccionar</button>
                    </div>
                </div>
            </div>

            <div class="div-vuelo">
                <!-- <img class="aero" src="img/latam-logo.jpg" alt=""> -->
                <h3>IDA</h3>
                <div class="detalle-de-vuelo">
                    <div>
                        <div>19:06</div>
                        <div>EZE</div>
                    </div>
                    <div class="escalas">
                        <div>Directo</div>
                        <hr>
                        <div>12h 45min</div>
                    </div>
                    <div>
                        <div>21:24</div>
                        <div>BCN</div>
                    </div>
                </div>
                <h3>VUELTA</h3>
                <div class="detalle-de-vuelo">
                    <div>
                        <div>08:06</div>
                        <div>BCN</div>
                    </div>
                    <div class="escalas">
                        <div>Directo</div>
                        <hr>
                        <div>12h 20min</div>
                    </div>
                    <div>
                        <div>7:24</div>
                        <div>EZE</div>
                    </div>
                </div>
                <div class="price-button">
                    <div class="price">
                        $27.500
                    </div>
                    <div>
                        <button type="submit">Seleccionar</button>
                    </div>
                </div>
            </div>
        </section>


    </main>

    <footer>
        <section class="tarjetas">
            <div class="icono">
                <p class="icono fas fa-credit-card"></p>
            </div>
            <h4 class="anunfoot">Pagá con tarjeta o en efectivo</h4>
            <p class="anun_des">Con TV Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y
                siempre es seguro!</p>

        </section>
        <section class="tarjetas">
            <div class="icono"><i class="icono fas fa-gift"></i></div>
            <h4 class="anunfoot">Ahorra hasta $2.500</h4>
            <p class="anun_des">Solo por estar registrad@ en TP tenés envíos gratis en miles de productos. Es un
                beneficio de TP Puntos.</p>

        </section>
        <section class="tarjetas">
            <div class="icono"><i class="icono fas fa-user-shield"></i></div>
            <h4 class="anunfoot">Seguridad, de principio a fin</h4>
            <p class="anun_des">¿Tuviste problemas? ¡Reclamalo! En TP, no hay nada que no puedas hacer, porque estás
                siempre protegid@.</p>
        </section>
        <div class="spc"></div>
        <span>
            <p class="cpyrgt">Copyright © 1999-2020 TravelPoint S.R.L.</p>
        </span>

    </footer>

    </footer>