<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
    <title>Lista de Productos</title>
</head>

<body>
    <%- include('./partials/header') %>
    <h1>Lista de Productos</h1>

    <form>
        <div>
            <button type="button">Agregar producto</button>
        </div>
    
        <div>
            <p>Nombre del producto</p>
            <button type="button">Editar</button>
        </div>
            
        <div>
            <p>Nombre del producto</p>
            <button type="button">Editar</button>
        </div>
    
        <div>
            <p>Nombre del producto</p>
            <button type="button">Editar</button>
        </div>
    </form>


</body>

</html>