<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
        <title>¡Elegí tu vuelo!</title>
</head>

<body>
    <%- include('./partials/header') %>
        <main>
            <section class="vuelos">
                <div class="div-vuelo">
                    <div class="ida-y-vuelta">
                        <h3>IDA</h3>
                        <div class="detalle-de-vuelo">
                            <div>
                                <div>19:06</div>
                                <div>EZE</div>
                            </div>
                            <div class="escalas">
                                <div>Directo</div>
                                <hr>
                                <div>12h 45min</div>
                            </div>
                            <div>
                                <div>21:24</div>
                                <div>BCN</div>
                            </div>
                        </div>
                        <h3>VUELTA</h3>
                        <div class="detalle-de-vuelo">
                            <div>
                                <div>08:06</div>
                                <div>BCN</div>
                            </div>
                            <div class="escalas">
                                <div>1 Escala</div>
                                <hr>
                                <div>15h 20min</div>
                            </div>
                            <div>
                                <div>7:24</div>
                                <div>EZE</div>
                            </div>
                        </div>
                    </div>
                    <div class="price-button">
                        <div class="price">
                            <span>$35.000</span>
                            <a href="/"><p>Ver detalle</p></a>
                        </div>
                        <div>
                            <a href="/flightDetail"><button type="submit">Seleccionar</button></a>
                        </div>
                    </div>
                </div>
                <div class="div-vuelo">
                    <div class="ida-y-vuelta">
                        <h3>IDA</h3>
                        <div class="detalle-de-vuelo">
                            <div>
                                <div>19:06</div>
                                <div>EZE</div>
                            </div>
                            <div class="escalas">
                                <div>1 Escala</div>
                                <hr>
                                <div>14h 40min</div>
                            </div>
                            <div>
                                <div>21:24</div>
                                <div>BCN</div>
                            </div>
                        </div>
                        <h3>VUELTA</h3>
                        <div class="detalle-de-vuelo">
                            <div>
                                <div>08:06</div>
                                <div>BCN</div>
                            </div>
                            <div class="escalas">
                                <div>Directo</div>
                                <hr>
                                <div>12h 0min</div>
                            </div>
                            <div>
                                <div>7:24</div>
                                <div>EZE</div>
                            </div>
                        </div>
                    </div>
                    <div class="price-button">
                        <div class="price">
                            <span>$22.000</span>
                            <a href="/"><p>Ver detalle</p></a>
                        </div>
                        <div>
                            <button type="submit">Seleccionar</button>
                        </div>
                    </div>
                </div>
                <div class="div-vuelo">
                    <div class="ida-y-vuelta">
                        <h3>IDA</h3>
                        <div class="detalle-de-vuelo">
                            <div>
                                <div>19:06</div>
                                <div>EZE</div>
                            </div>
                            <div class="escalas">
                                <div>Directo</div>
                                <hr>
                                <div>12h 45min</div>
                            </div>
                            <div>
                                <div>21:24</div>
                                <div>BCN</div>
                            </div>
                        </div>
                        <h3>VUELTA</h3>
                        <div class="detalle-de-vuelo">
                            <div>
                                <div>08:06</div>
                                <div>BCN</div>
                            </div>
                            <div class="escalas">
                                <div>Directo</div>
                                <hr>
                                <div>12h 20min</div>
                            </div>
                            <div>
                                <div>7:24</div>
                                <div>EZE</div>
                            </div>
                        </div>
                    </div>
                    <div class="price-button">
                        <div class="price">
                            <span>$27.500</span>
                            <a href="/"><p>Ver detalle</p></a>
                        </div>
                        <div>
                            <button type="submit">Seleccionar</button>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <%- include('./partials/footer') %>

</html>