<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
    <title>Lista de Productos</title>
</head>

<body>
    <%- include('./partials/header') %>
    <h1 class="titulo-productos">Lista de Productos</h1>

    <form>
        <div class="btn-agregarproducto">
            <button type="button">Agregar producto</button>
        </div>
    
        <div class="producto">
            <h4>Ida EZE-MIA | Vuelta MIA-EZE</h4>
            <button type="button">Editar</button>
        </div>
            
        <div class="producto">
            <h4>The Ritz-Carlton Bal Harbour, Miami</h4>
            <button type="button">Editar</button>
        </div>
    
    </form>


</body>

</html>