<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <link rel="stylesheet" type="text/css" href="/css/normalize.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/31b9fa39aa.js" crossorigin="anonymous"></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script> window.fbAsyncInit = function () {
            FB.init({
                appId: '402008404714331',
                cookie: true,
                xfbml: true,
                version: '11'
            });

            FB.AppEvents.logPageView();

        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) { return; }
            js = d.createElement(s); js.id = id;
            js.src = "https://connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>

    <meta name="google-signin-client_id" content="AIzaSyBrscPUe1Wa8k9ufXG9n5rUPN0gh-8WMJU">

    <title>Login</title>
</head>


<body>
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v12.0"
        nonce="VFH2JtUh"></script>

    <header>
        <div class="logo-ayuda">
            <img src="/img/Logo.png" alt="Logo" class="logo">
            <div class="ayuda">
                <i class="fas fa-phone-alt"></i>
                <i class="fas fa-suitcase-rolling"></i>
                <i class="fas fa-user"></i>
                <i class="fas fa-question-circle"></i>
            </div>
        </div>

    </header>
    <main class="login">

        <h3 class="apis">Registrate con tu cuenta favorita</h3>
        <div class="apis">
            <form action="/" method="post">
                <div class="g-signin2" data-onsuccess="onSignIn"></div>
                <div class="fb-login-button" data-width="50px" data-size="medium" data-button-type="login_with"
                    data-layout="default" data-auto-logout-link="false" data-use-continue-as="false"></div>
                <h3>O Ingresa con tu email</h3>
        </div>
        <div class="accede">
            <div class="email"><input type="email" name="email" id="email" placeholder="Ingresa tu Email"></div>
            <div class="pass"><input type="password" name="password" id="password" placeholder="Contraseña"></div>
            <div class="pass"><input type="password" name="password" id="password" placeholder="Repite Contraseña">
            </div>

        </div>
        <div class="accede2">
            <label for="Nme">Nombre</label>
            <div><input type="text" id="Nme" placeholder="NOMBRE"></div>
            <label for="Snme">Apellido</label>
            <div><input type="text" id="Snme" placeholder="APELLIDO"></div>
            <label for="PAIS">Origen</label>
            <div><select class="combo" id="PAIS" name="PAIS" aria-placeholder="PAIS">
                    <option value="ARGENTINA">ARGENTINA</option>
                    <option value="BRAZIL">BRAZIL</option>
                    <option value="CHILE">CHILE</option>
            </div>
            <h3>O Ingresa con tu email</h3>
        </div>
        <section>
            <button type="submit">Accede</button>
        </section>


        </form>


    </main>