<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
        <title>Lista de Usuarios</title>
</head>

<body>
    <header>
        <%- include('./partials/header') %>
    </header>
    <main>
        <h1 class="titulo-productos">Lista de Usuarios</h1>

        <form>
            <% users.forEach(user => { %>
                <div>
                    <img src="">
                    <h4>Vuelo Ida y Vuelta a Miami</h4>
                    <p>01 Enero 2022 - 15 Enero 2022</p>
                    <p>EZE - MIA | MIA - EZE</p>
                    <h3>$200.000</h3>
                </div>
                <% }) %>
        </form>

    </main>
    <%- include('./partials/footer') %>
</body>

</html>