* {
    box-sizing: border-box;
}

/* Fede */

/* index */

button {
    cursor: pointer;
}

body {
    font-family: 'Roboto', sans-serif;
    width: 100vw;
}

header {
    background-color: #154b9c;
    padding-bottom: 20px;
}

.container-header {
    display: grid;
    grid-template-columns: 25% auto 40%;
    grid-template-rows: 60px 10px 60px;
}

.header-box1 a img {
    max-height: 100%;
    max-width: 100%;
}

.header-box1 {
    grid-column: 1/2;
    grid-row: 1/2;
}

.header-box2 {
    grid-column: 1/4;
    grid-row: 3/4;
    display: flex;
    justify-content: center;
    grid-gap: 10px;
    font-size: 30px;
    color: white;
}

.header-box2 div {
    text-align: center;
}

.header-box2 p {
    font-size: 3.5vw;
}

.header-box3 {
    grid-column: 3/4;
    grid-row: 1/2;
    display: flex;
    text-align: center;
    justify-content: space-around;
    font-size: 7vw;
    align-items: center;
    padding-right: 15px;
}

.header-box3 .mini-profile-picture {
    width: 8vw;
    height: 8vw;
    border-radius: 30px;
    margin-top: 10%;
}

.header-box3 div a {
    color: #5962ff;
}

.imagen-fondo {
    display: none;
}

.buscar-vuelo {
    background-color: #1669ad;
    padding: 15px 0;
}

.opcion-destino {
    display: flex;
    justify-content: space-around;
    font-weight: 500;
    margin: 0 20px;
}

.opcion-destino p {
    margin: 5px;
    margin-top: 10px;
    border: white solid 2px;
    border-radius: 20px;
    padding: 3px 8px;
    cursor: pointer;
    color: white;
}

.grid-opciones-vuelos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    margin: 15px 0 20px 0;
    justify-items: center;
    padding: 0 10px;
}

.grid-multidestino {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 0.9fr 0.6fr;
    gap: 10px;
    margin: 15px 0 20px 0;
    justify-items: center;
    padding: 0 10px;
}

.passengers-cant {
    grid-column: 1/4;
    width: 35%;
}

.agregar-eliminar-tramo {
    grid-column: 1/4;
    margin: auto;
    text-align: center;
    width: 80%;
    display: none;
}

.agregar-tramo {
    border: solid white 2px;
    border-radius: 20px;
    padding: 8px 0;
    color: white;
    font-weight: 700;
    margin-bottom: 8px;
    cursor: pointer;
}

.eliminar-tramo {
    border: solid white 2px;
    border-radius: 20px;
    padding: 8px 0;
    color: white;
    font-weight: 700;
    margin-bottom: 5px;
    cursor: pointer;
}

.icon-eliminar-tramo {
    display: none;
}


.nuevo-tramo-creado {
    display: flex;
    grid-column: 1/4;
    gap: 10px;
    width: 100%;
    justify-content: space-around;
}

.nuevo-tramo-creado-none {
    display: none;
}

.vuelo-ida-y-vuelta, .vuelo-solo-ida {
    cursor: pointer;
}


.grid-opciones-vuelos input {
    border: none;
    width: 100%;
    padding: 25px;
    border-radius: 5px;
    font-size: 25px;
    text-align: center;
}

.grid-multidestino input {
    border: none;
    width: 100%;
    padding: 15px;
    border-radius: 5px;
    font-size: 25px;
    text-align: center;
    font-size: 18px;
}

.opcion-sin-fecha {
    margin-top: 0;
    padding-left: 15px;
    font-size: 14px;
    color: white;
    font-size: 14px;
}

.opcion-sin-fecha label {
    padding-right: 15px;
}

.buscar-vuelo form button {
    border: none;
    border-radius: 5px;
    background-color: #154b9c;
    width: 100px;
    color: white;
    padding: 15px;
    display: block;
    margin: auto;
}

article {
    margin-bottom: 25px;
}

main {
    background-color: #e6e6e6;
}

.vuelos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    font-weight: 700;
    margin-top: 40px;
}

.vuelos article {
    position: relative;

}

.vuelos article div img {
    width: 45vw;
    height: 40vw;
    border-radius: 20px;
}

.descripcion-vuelos {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}

.descripcion-vuelos p {
    line-height: 0;
    font-size: 4.5vw;
}

.buscar-vuelos-baratos {
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
}

.buscar-vuelos-baratos input {
    margin-top: 10px;
    border: 1px solid gray;
    border-radius: 5px;
    font-size: 16px;
    width: 50%;
    height: 30px;
}

.button1 {
    border: solid 1px gray;
    border-radius: 5px;
}

.desde {
    font-weight: 300;
}

/* flight detail */

.container-1 {
    width: 95%;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    margin: auto;
}

.container-1 .sub-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-1 .sub-1 .info {
    padding: 0 70px 0 10px;
}

.container-1 .sub-1 .icon-cart {
    font-size: 22px;
}

.container-1 .sub-1 .flecha {
    font-size: 22px;
    cursor: pointer;
}

.info-fecha {
    font-size: 12px;
}

.container-1 .sub-2 {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}

.container-1 .sub-2 .total {
    font-size: 20px;
}

.container-1 .sub-2 .valor {
    font-size: 24px;
    font-weight: 700;
}

.container-2 {
    width: 95%;
    background-color: white;
    border-radius: 25px;
    padding: 10px;
    margin: auto;
    text-align: center;
    font-size: 20px;
    font-weight: 800;
    background-color: #1955b4;
}

.container-2 .container-info-1 {
    display: flex;
    align-items: center;
}

.container-2 .container-info-1 h3, .container-2 .container-info-1 h5 {
    margin-left: 15px;
}

.container-2 p {
    text-align: left;
    margin-left: 35px;
    font-weight: 500;
}

.container-2 button {
    background-color: #1955b4;
    padding: 8px 20px;
    border: white solid 1px;
    border-radius: 10px;
    color: white;
}

.container-2 {
    line-height: 0;
    color: white;
}

.container-3 {
    width: 95%;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    margin: auto;
}

.container-3 ul hr {
    opacity: 0.3;
}

.container-3 ul {
    list-style: none;
    padding: 0;
}

.datos-de-pago {
    width: 95%;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    margin: auto;
}

.datos-de-pago h5 {
    margin-bottom: 2px;
}

.datos-de-pago form .input-styles {
    width: 90%;
    border: 1px solid silver;
    border-radius: 5px;
    height: 35px;
    padding: 0 10px;
}

.venc-cod {
    display: flex;
}

.venc-cod div {
    width: 50%;
}

.input-genero {
    display: flex;
    border: 1px solid silver;
    max-width: 250px;
    height: 35px;
    border-radius: 5px;
    align-items: center;
}

.input-genero label {
    margin-right: 10px;
}

.input-genero .M-card {
    margin-right: 15px;
    padding: 0 15px;
    border-right: solid silver 1px;
}

.price-button p {
    font-size: 16px;
    margin: 0 0 0 18px;
}

.price-button a {
    text-decoration: none;
    cursor: pointer;
}

.datos-de-pago .cant-cuotas select {
    border-radius: 5px;
    padding: 5px;
}

.datos-de-pasajeros {
    width: 95%;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    margin: auto;
}

.datos-de-pasajeros form .input-styles {
    width: 90%;
    border: 1px solid silver;
    border-radius: 5px;
    height: 35px;
    padding: 0 10px;
}

.datos-de-pasajeros h5 {
    margin-bottom: 2px;
}

.datos-de-pasajeros #residencia {
    width: 60%;
    border: 1px solid silver;
    border-radius: 5px;
    height: 35px;
    padding: 0 10px;
}

div #tipo-de-documento {
    border-radius: 5px;
    padding: 5px;
    width: 30%;
}

div #nro-documento {
    width: 60%;
    border: 1px solid silver;
    border-radius: 5px;
    height: 35px;
    padding: 0 10px;
    margin-left: 10px;
}

#dia-nac, #mes-nac, #año-nac {
    width: 30%;
    border-radius: 5px;
    padding: 5px;
}

#dia-nac, #mes-nac {
    margin-right: 10px;
}

.input-genero .M {
    margin-right: 15px;
    padding: 0 15px;
    border-right: solid silver 1px;
}

.product-create {
    background-color: #c4e4ff;
    padding: 10px 0 10px 5%;
}

.inputClass-forValidation-autocomplete {
    display: flex;
    margin-top: 20px;
    align-items: center;
}

.autocomplete-input-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 20px;
}

.autocomplete-list li:hover, .autocomplete-list-2 li:hover {
    background-color: #84c8ff;
    color: black;
    cursor: pointer;
    font-weight: 400;
}

.autocomplete-list, .autocomplete-list-2 {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 17px;
    display: none;
    z-index: 2;
    position: absolute;
}

.autocomplete-list li, .autocomplete-list-2 li {
    padding: 5px 10px;
    width: 50vw;
    background-color: #d9eeff;
    border-left: 1px solid silver;
    border-right: 1px solid silver;
    border-bottom: 1px solid silver;
    font-weight: 300;
    color: #6c7275;
}

#aeropuertoDestino option {
    display: none;
}

#codAeropuertoOrigen, #codAeropuertoDestino {
    width: 55px;
}

#nroVuelo {
    max-width: 150px;
}

#fechaVuelo {
    max-width: 220px;
}

#duration, #precio {
    width: 130px;
}

#aeropuertoOrigen, #aeropuertoDestino, #airline {
    width: 40%;
    max-width: 250px;
}

#autocomplete-input, #autocomplete-input-2 {
    max-width: 250px;
}

.product-create form p label, .product-create form span {
    margin-right: 20px;
}

.product-create form button {
    border: none;
    border-radius: 5px;
    width: 150px;
    padding: 10px;
    color: white;
    background-color: #154b9c;
}

.product-create form input {
    width: 50vw;
    border: 1px solid silver;
    border-radius: 5px;
    height: 35px;
    padding: 0 10px;
    background-color: white;
    font-size: 17px;
}

.product-create form select {
    border-radius: 5px;
    padding: 5px;
    background-color: white;
    border: 1px solid silver;
    height: 35px;
}

.my-account {
    border-radius: 40px;
    width: 80%;
    background-color: #c4e4ff;
    margin: auto;
    padding: 20px;
    text-align: center;
}

.my-account button {
    border: none;
    border-radius: 5px;
    width: 100px;
    padding: 10px;
    color: white;
    background-color: #154b9c;
}

.padding-top-my-account {
    padding-top: 20px;
}

.my-account div form {
    width: 90%;
    margin: auto;
}

.my-account .profile-picture {
    width: 30%;
    border-radius: 60%;
}

.my-account .image {
    width: 80%;
}

.edit-my-account input {
    width: 60%;
    padding: 5px 20px;
    margin: 8px 0;
    border: gray 0%;
    border-radius: 5px;
    border-style: none;
    margin-left: 15px;
}

.edit-my-account select {
    width: 60%;
    padding: 5px 10px;
    margin: 8px 0;
    text-align: center;
    border: none;
    color: gray;
    border-radius: 5px;
}

.login {
    border-radius: 40px;
    width: 80%;
    background-color: #c4e4ff;
    margin: auto;
    padding: 20px;
    text-align: center;
}

.apis {
    display: flex;
    justify-content: center;
}

.login button {
    border: none;
    border-radius: 5px;
    width: 100px;
    padding: 10px;
    color: white;
    background-color: #154b9c;
}

.login form .remember-user {
    text-align: left;
    margin-left: 15%;
}

.login form .remember-user label {
    margin-right: 15px;
}

.login form #remember_checkbox {
    width: auto;
    box-shadow: none;
    margin: 0;
}

/*----exclusivo de register*/

.login input {
    width: 60%;
    padding: 10px 20px;
    margin: 8px 0;
    border: gray 0%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    border-style: none;
}

.login select {
    width: 60%;
    padding: 10px 10px;
    margin: 8px 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    border: none;
    color: gray;
}

form .inputClass-forValidation {
    margin-bottom: 0;
}

.msg-error-form {
    margin-top: 0;
    color: red;
    font-size: 17px;
}

.msg-error-form-login {
    margin-top: 50px;
    color: red;
    font-size: 17px;
}

/* PRODUCT DETAIL */

.div-vuelo {
    width: 95%;
    background-color: white;
    border-radius: 25px;
    padding: 20px;
    margin-bottom: 20px;
}

.vuelos {
    padding-top: 40px;
    margin: auto;
}

.escalas {
    opacity: 0.5;
    font-size: 14px;
    font-weight: 200;
    text-align: center;
    width: 30%;
}

.div-vuelo h3 {
    background-color: #e6e6e6;
}

.price {
    font-size: 30px;
    font-weight: 600;
}

.price-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    border-top: 1px solid gray;
    padding-top: 15px;
}

.price-button button {
    border: none;
    border-radius: 10px;
    background-color: #3495eb;
    text-align: center;
    padding: 10px;
    color: white;
}

.detalle-de-vuelo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-desplegable {
    position: absolute;
    background-color: #5962ff;
    color: white;
    font-weight: 400;
    font-size: 100%;
    width: 35vw;
    height: 100px;
    top: 50px;
    right: 2%;
    border-radius: 5px 5px 10px 10px;
    padding: 10px;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.8);
    display: none;
    z-index: 1;
}

.menu-desplegable {
    display: none;
}

.menu-desplegable-block {
    position: absolute;
    background-color: #5962ff;
    color: white;
    font-weight: 400;
    font-size: 100%;
    width: 35vw;
    height: 100px;
    top: 50px;
    right: 10%;
    border-radius: 5px 5px 10px 10px;
    padding: 10px;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.8);
    display: block;
    z-index: 1;
}

.menu-desplegable-block p a {
    text-decoration: none;
    color: white;
    font-weight: 400;
}

.icon-profile-logout span {
    display: none;
}

.icon-profile-logout a {
    cursor: pointer;
}

/*FOOTER*/

footer hr {
    width: 90%;
}

footer {
    text-align: left;
    background-color: #e6e6e6;
}

footer .container-footer-2 {
    width: 90vw;
    background-color: white;
    border-radius: 25px;
    padding: 20px;
    margin: auto;
}

.container-footer-2 h5 {
    margin-bottom: 0;
}

.container-footer-2 .btn-arrepentimiento {
    border: 1px solid silver;
    border-radius: 5px;
    padding: 5px;
    background-color: #c8e4e6;
}

/* PRODUCT LIST */

.titulo-productlist {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
}

.titulo-productlist a button {
    background-color: #588de2;
    padding: 8px 20px;
    border: white solid 1px;
    border-radius: 10px;
    color: white;
}

.list-format .description-list-format button, main form .product-review button {
    background-color: #837e7e;
    padding: 5px 20px;
    border: white solid 1px;
    border-radius: 5px;
    color: white;
}

.list-format .description-list-format, main form .product-review {
    border-radius: 30px;
    width: 90%;
    background-color: #c4e4ff;
    padding: 20px 10%;
    text-align: left;
    margin: auto;
}

.titulo-productreview {
    margin-left: 30px;
}

@media (min-width: 481px) {

    .header-box3 .mini-profile-picture {
        width: 6vw;
        height: 6vw;
        border-radius: 30px;
        margin-top: -3%;
    }

    .flex-icon-profile {
        display: flex;
    }

    .header-box3 {
        justify-content: right;
        gap: 15px;
        margin-right: 15px;
        font-size: 5vw;
    }

    .icon-profile-logout span {
        font-size: 2vw;
        margin: 3px 0 0 5px;
        padding: 0;
        display: block;
    }

    .container-header {
        grid-template-columns: 25% auto 30%;
        grid-template-rows: 70px 10px 60px;
    }

    .opcion-destino {
        margin: 0 70px;
    }

    .header-box2 p {
        font-size: 60%;
    }

    .buscar-vuelo form button {
        width: 150px;
        padding: 20px;
        font-size: 22px;
    }

    .vuelos article div img {
        width: 30vw;
        height: 30vw;
    }

    .descripcion-vuelos p {
        font-size: 3vw;
    }

    .container-footer-1 {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    footer .container-footer-2 {
        width: 95vw;
    }

    .container-footer-1 .container-footer-2 {
        width: 45%;
        height: 50vw;
        max-height: 250px;
    }

    .div-vuelo {
        display: flex;
    }

    .ida-y-vuelta {
        width: 80%;
        border-right: 1px solid silver;
        padding-right: 20px;
    }

    .price {
        font-size: 4.5vw;
    }

    .price-button {
        display: flex;
        flex-direction: column;
        width: 20%;
        border-top: none;
        padding-left: 10px;
    }

    .price-button button {
        font-size: 2.7vw;
    }

    .container-1 .sub-1 .info {
        padding: 0 40% 0 10px;
    }

    .list-format .description-list-format {
        width: 45%;
        margin-bottom: 20px;
    }

    .list-format {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    main form .product-review {
        width: 80vw;
    }

    .grid-multidestino {
        padding: 0 30px;
    }

    .agregar-eliminar-tramo {
        max-width: 400px;
    }

    .menu-desplegable-block {
        width: 170px;
        top: 10%;
    }
}

@media (min-width: 769px) {

    .header-box3 {
        margin-top: 7%;
        font-size: 3vw;
        padding: 0 6%;
    }

    .my-account .image {
        width: 60%;
    }

    .header-box1 a img {
        max-height: 130%;
    }

    .imagen-fondo {
        display: block;
        width: 100vw;
    }

    .buscar-vuelo {
        background-color: #e6e6e6;
        padding: 40px 0;
        background-image: url("/img/imagen-index.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        height: 550px;
    }

    .menu-buscar-vuelo {
        width: 60%;
        max-width: 500px;
        margin-left: 10%;
        border-radius: 20px;
        background-color: #1669ad;
        padding: 15px 10px;
    }

    .opcion-destino {
        margin: 0;
    }

    .grid-opciones-vuelos input {
        padding: 15px;
        font-size: 20px;
    }

    .buscar-vuelo form button {
        width: 100px;
        padding: 15px;
    }

    .container-media769-footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .container-media769-footer .container-footer-2 {
        width: 45%;
        height: 50vw;
        max-height: 250px;
    }

    .login {
        max-width: 500px;
    }

    main form .product-review {
        max-width: 500px;
    }

    .agregar-eliminar-tramo {
        width: 100%;
        grid-column: 1/5;
    }

    .flex-agregar-eliminar-tramo {
        display: flex;
        justify-content: space-around;
        gap: 10px;
    }

    .agregar-tramo {
        width: 100%;
        margin: 0 0 5px;
    }

    .eliminar-tramo {
        width: 100%;
    }

    .grid-multidestino {
        padding: 0 5px;
        grid-template-columns: repeat(4, 1fr);
    }

    .passengers-cant {
        grid-column: 4/5;
        grid-row: 1/2;
        width: 100%;
    }

    .nuevo-tramo-creado {
        grid-column: 1/4;
    }

    .div-creado {
        width: 100%;
    }

    .icon-profile-logout span {
        font-size: 1.5vw;
        margin: 0;
    }

    .header-box3 .mini-profile-picture {
        width: 4vw;
        height: 4vw;
    }

    .menu-desplegable-block {
        right: 8%;
        top: 11%;
    }

    @media (min-width: 1024px) {
        .header-box2 {
            grid-row: 1/2;
            margin-top: 20px;
            grid-column: auto;
        }

        .header-box3 {
            font-size: 36px;
            padding: 0 5px 0 30%;
        }

        .header-box1 {
            grid-row: 1/3;
        }

        .container-header {

            margin: auto;
        }

        header {
            padding-bottom: 0;
            max-height: 110px;
        }

        .header-box3 div a {
            font-size: 2.5vw;
            align-items: center;
        }

        .header-box3 .mini-profile-picture {
            width: 2.5vw;
            height: 2.5vw;
            margin-top: 0;
        }

        .icon-profile-logout span {
            font-size: 1.3vw;
        }

        .menu-desplegable-block {
            right: 5%;
            top: 12%;
            height: 115px;
        }
    }
}