*{
    box-sizing: border-box;
}
input[type=date]{font-size:x-small;color: gray; opacity:1;background-color: white;}

body{
    font-family: 'Roboto', sans-serif;
    width: 100vw;
}

.logo{
    width: 20vw;
}

.aero{
    width: 2vw;}


.logo-ayuda{
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin-bottom: 20px;
}

.logo-ayuda i, .opciones1 i, .vuelos article{
    cursor: pointer;
}

.vuelos article:hover{
    transform: rotateZ(360deg);
    transition: all 300ms;
}

.ayuda{
    width: 40vw;
    font-size: 25px;
    display: flex;
    justify-content: space-around;
}

.opciones1{
    display: flex;
    justify-content: space-around;
    font-size: 26px;
}

.opciones1 div{
    text-align: center;
}

.opciones1 p{
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
}

.opciones1 i{
    border: black solid 1px;
    border-radius: 15px;
    padding: 8px;
}

header{
    margin-bottom: 20px;
}

.buscar-vuelo{
    background-color: #c4e4ff;
    
}

.opcion-destino{
    display: flex;
    justify-content: space-around;
    font-weight: 400;
    margin: 0 100px;
}

.opcion-destino p{
    margin: 5px;
    margin-top: 10px;
}

.opciones-vuelos{
    display: flex;
    justify-content: space-around;
}

.opciones-vuelos p input{
    border: none;
    width: 45vw;
    padding: 30px;
    border-radius: 5px;
    font-size: 25px;
    text-align: center;
}

.fecha-pasajeros{
    display: flex;
    justify-content: space-around;
}

.fecha-pasajeros p input{
    border: none;
    width: 45vw;
    padding: 30px;
    border-radius: 5px;
    font-size: 25px;
    text-align: center;
}

.opcion-sin-fecha{
    margin-top: 0;
    padding-left: 15px;
}

.opcion-sin-fecha label{
    padding-right: 15px;
}

.buscar-vuelo form button{
    border: none;
    border-radius: 5px;
    background-color: #3495eb;
    width: 100px;
    padding: 15px;
    display: block;
    margin: auto;
}

article{
    margin-bottom: 25px;
}

main{
    background-color: #e6e6e6;
}

.vuelos article .imagen-destino{
    position: relative;
    width: 45vw;
}

.vuelos article div img{
    width: 45vw;
    height: 40vw;
    border-radius: 20px;
}

.descripcion-vuelos{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}
.descripcion-vuelos p{
    line-height: 0;
    font-size: 22px;
}

.vuelos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    font-weight: 700;
    margin-top: 40px;

}

.buscar-vuelos-baratos{
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
}

.buscar-vuelos-baratos input{
    margin-top: 10px;
    border: 1px solid gray;
    border-radius: 5px;
    font-size: 16px;
    width: 50%;
    height: 30px;
}

.button1{
    border: solid 1px gray;
    border-radius: 5px;
}

.desde{
    font-weight: 300;
}

/* Vicky */

.login{display: flex;background-color: #c4e4ff;justify-items: center;flex-direction: column;height: 710px;}
    .apis{margin-left: 30px;}
    .buscar{display:block; color: blue;  align-items: center;}
    .pass{padding-bottom: 20px;}
    .email{padding-bottom: 20px; }
    .entrar input{width: 60%;
        padding: 10px 40px;
        margin: 8px 0;
        border: gray 0%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        text-align: center;
        border-style: none;    
    }
    button{border: solid 1px gray;
    border-radius: 5px;align-content: center;
     margin-left: 50px;  }
    .entrar{display: flex;margin-left: 30px  ;flex-direction: column; align-content: flex-start; text-align: start; }

    .login{display: flex;background-color: #c4e4ff;justify-items: center;flex-direction: column;height: 710px;}
    .apis{margin-left: 30px;}
    .buscar{display:block; color: blue;  align-items: center;}
    .pass{padding-bottom: 20px;}
    .email{padding-bottom: 20px; }
    .apis section button{border: solid 1px gray;
    border-radius: 5px;align-content: center;
     margin-left: 50px;  }
    .entrar{display: flex;margin-left: 30px  ;flex-direction: column; align-content: flex-start; text-align: start; }
    .entrar2{display: flex;margin-left: 30px  ;flex-direction: column; align-content: flex-start; flex-wrap: wrap; align-content: flex-start; }
    /*----exclusivo de register*/
    .combo {width: 60%;
        padding: 10px 40px;
        margin: 8px 0;
        border: gray 0%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        text-align: center;
        border-style: none;    
        color: gray; opacity:1; font-size: x-small
    
    }
    .entrar2 label{font: gray 2px; font-size: smaller;}
    ::placeholder{color: gray; opacity:1; font-size: small;}

    /* Feli */

    .login{display: flex;background-color: #c4e4ff;justify-items: center;flex-direction: column;height: 80%;}
    .titulos{margin-left: 5px;}
    .buscar{display:block; color: blue;  align-items: center;}
    .pass{padding-bottom: 20px;}
    .email{padding-bottom: 20px; }
    .formularios input{width: 80%;
        height: 80%;
        padding: 100px;
        margin: 30px 100px;
        border: gray 0%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        text-align: center;
        border-style: none;    
    }
    .login button{border: solid 1px gray;
    border-radius: 5px;align-content: center;
     margin-left: 50px;  
    }
    .accede{
        display: flex;
        margin: 0px  ;
        flex-direction: row; 
        align-content: flex-start; 
        text-align: start; 
    }
    .contain-subtitulo{
        display: flex; 
      ;  
        margin-left: 70px; 
        margin-right: 70px;
        margin-top: 20px;
        font-size: 20px;   
    }
    .subtitulo2{
        margin-left: 730px;
        margin-right: 80px;
    }

    .cabezera-main{
        display: flex; 
        justify-content: space-between; 
        margin-left: 63px;
        margin-right: 63px;
        align-items: center;    
    }
    .cuerpo-carrito1{
        background-color: white; 
        width: 55%;
        height: 100px;
        margin-left: 60px;
        margin-top: 10px;
        margin-bottom: 10px;
        border-radius: 20px;
        padding: 20px;
        box-shadow: 2px 2px 5px #999;
    }
    .cuerpo-carrito2{
        background-color: white; 
        width: 9%;
        height: 100px;
        margin-left: 20px;
        margin-right: 6px;
        margin-top: 10px;
        margin-bottom: 10px;
        border-radius: 20px;
        padding: 20px;
        box-shadow: 2px 2px 5px #999;
    }

    .cuerpo-carrito3{
        background-color: white; 
        width: 24%;
        height: 100px;
        margin-left: 15px;
        margin-top: 10px;
        margin-bottom: 10px;
        border-radius: 20px;
        padding: 20px;
        box-shadow: 2px 2px 5px #999;
    }

    .formularios button{
        margin-left: 1300px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .img-miami{
        margin-left: 60px; 
        margin-top: 20px;
        width: 25%;
        border-radius: 20px;
        box-shadow: 2px 2px 5px #999;
        max-height: 270px;
    }

    .subtitulo4{
        font-size: 20px;
        margin-left: 60px;
        margin-top: 20px;
    }

    .detalle-compra{display: flex;}

    .texto-idayvuelta{
        margin-left: 25px;
        margin-top: 25px;
    }
    .vuelta{
        margin-left: 80px;
    }
    .texto-detalle{
        display: flex;
        flex-direction: column;
    }
    .hab-lujo{
        margin-top: 30px;
        margin-left: 25px;
        max-width: 400px;
    }
    .texto-total{
        margin-left: 25px;
        margin-bottom: 50px;
        margin-top: 12px;
    }
    .subtotal2{margin-left: 340px;}
    .totalsinimp2{margin-left: 262px;}
    .imp2{margin-left: 322px;}
    .totalconimp2{margin-left: 205px;}
    footer {
        height: 200px;
    }

    /* PRODUCT DETAIL */
    .Produ{
        margin: 40px 0 40px 40px;
        width: 60%;
        background-color: white;
        border-radius: 25px;
        padding-right: 20px;
        padding: 20px;
        
        
    }
    .Produ:hover{
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0;
    }
    .Producto{
        padding-top: 40px;
        margin: auto;
    }
    .price{
        font-size: 30px;
        font-weight: 600;
    }
 
    /* ESTILOS DEL FOOTER/

footer{margin: 1em 1.5em 1em 1.5em;}

.tarjetas /container de secciones del footer*/
{display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
    align-items: center;}
.icono{
    size: 2em;
    text-align: center;
    color: #1259c3;
    font-size: 30px;
    margin: 1em 0em 10px 0em;}

 h4.anunfoot{font-weight: 700; 
    font-size: 20px; 
    text-align: center; 
    font-size: medium;
    color:#666; 
    margin-bottom: 2px;}
 .anun_des{font-size: 12px; 
        font-weight: normal;
        text-align: center;
        width: 80%; color:#666; 
        justify-content: center;
        text-justify: distribute; 
        justify-items: center; }

.cpyrgt{text-align: left; font-size: x-small; margin: 0px;}